Source: git-deb-pkg
Section: devel
Priority: extra
Maintainer: Sébastien Gross <seb•ɑƬ•chezwam•ɖɵʈ•org>
Build-Depends: debhelper (>= 7.0.50)
Standards-Version: 3.8.0
Homepage: http://github.com/renard/git-deb-pkg

Package: git-deb-pkg
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, git-core,
	 libdpkg-perl, dh-make, devscripts, fakeroot
Description: lazy way to build Debian package using git
 git-deb-pkg offers a simple and easy way to manage Debian package
 generation using git (and other source code management system).
 .
 Both upstream and Debian code are kept in separated branches.
 .
 Features:
  - Update upstream from any SCM which git is capable of.
  - Chechout any file from any branch.
  - Cherry pick any commit
  - Few files to edit
 
