Source: #PACKAGE#
Section: unknown
Priority: extra
Maintainer: #USERNAME# <#EMAIL#>
Build-Depends: debhelper (>= 7.0.50), quilt (>=0.46-7)
Standards-Version: 
Homepage: <insert the upstream URL, if relevant>

Package: #PACKAGE#
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
